@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundStart {
  background: url("../assets/images/Group3505.png") no-repeat;
  background-size: 100% 100%;
}

.backgroundColor1 {
  background-color: #191a32;
}

.backgroundColor2 {
  background-color: #475aea;
}

.backgroundColor3 {
  background-color: #24243b;
}

.backgroundColor4 {
  background-color: #aaaaaa;
}

.backgroundColor6 {
  background-color: rgba(54, 98, 255, 0.1);
} //#3662FF

.textColor1 {
  color: #aaaaaa;
}

.textColor2 {
  color: #475aea;
}

.textColor3 {
  color: #696969;
}

.textColor4 {
  color: #3662ff;
}

.shadow1 {
  box-shadow: 0px 0px 34px 6px rgba(54, 98, 255, 0.25);
} //shadow-[0_0_34px_6px_rgba(54,98,255,0.25)]

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets .swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, 220px) !important;
  left: 0;
  width: 100%;
}

.swiper,
swiper-container {
  overflow: visible !important;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #475aea) !important;
}

.swiper-pagination-bullet {
  background: var(
    --swiper-pagination-bullet-inactive-color,
    #475aea
  ) !important;
}
